<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.secret.santa">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <!-- SPLASH SCREEN -->
        <activity
            android:name="secret.santa.application.Splash_Screen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- APPLICATION DATA FOR AUTHENTICATION FACEBOOK -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".views.RegisterSSA"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.LoginSSA"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">>

        </activity>
        <activity
            android:name=".views.GroupCreationSSA"
            android:parentActivityName=".views.GroupOverviewSSA"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <!-- Door een meta data attr. toe te voegen weet deze view wat zijn parent view is. -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.GroupOverviewSSA" />
        </activity>
        <activity android:name=".views.MainSSA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.GroupCodeFillSSA"
            android:parentActivityName=".views.GroupOverviewSSA"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <!-- Door een meta data attr. toe te voegen weet deze view wat zijn parent view is. -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.GroupOverviewSSA" />
        </activity>
        <activity android:name=".views.AccountMainSSA"
            android:parentActivityName=".views.MainSSA">>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainSSA" />
        </activity>
        <activity
            android:name=".views.AccountFavoListSSA"
            android:parentActivityName=".views.AccountMainSSA">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.AccountMainSSA" />
        </activity>
        <activity
            android:name=".views.AccountDetailsSSA"
            android:parentActivityName=".views.AccountMainSSA">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.AccountMainSSA" />
        </activity>
        <activity
            android:name=".views.AccountFavoCreationSSA"
            android:parentActivityName=".views.AccountFavoListSSA">

            <!-- Door een meta data attr. toe te voegen weet deze view wat zijn parent view is. -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.AccountFavoListSSA" />
        </activity>
        <activity
            android:name=".views.GroupOverviewSSA"
            android:parentActivityName=".views.MainSSA">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainSSA" />
        </activity>
        <activity
            android:name=".views.GroupDetailSSA"
            android:parentActivityName=".views.GroupOverviewSSA">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.GroupOverviewSSA" />
        </activity>
        <activity
            android:name="secret.santa.application.views.chat.GroupChatLog"
            android:parentActivityName=".views.GroupOverviewSSA">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.GroupOverviewSSA" />
        </activity>

        <service android:name="secret.santa.application.services.MusicServiceSSA" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>